<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /awb/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /awb/index.php [L]
</IfModule>