.project-page{
    h1{
        font-size: 36px;
        font-weight: bold;
        font-family: $font-rosario;
        padding-bottom: 30px;
    }
    .content-project{
        p{
            font-family: $font-roboto;
        }
    }
}